<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index page</title>
</head>
<body>
    <h1>Index page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dignissimos dolorum fuga hic inventore ipsam
        iste maxime molestias, nemo porro praesentium, sed tempora veritatis voluptatibus voluptatum. Aspernatur fuga
        harum laboriosam nesciunt nobis officiis porro rerum sed? Amet at deserunt eius eos fugiat ipsa itaque maiores
        mollitia, nulla quas, ratione sit.
    </p>
    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/ba/29/5c/img-worlds-of-adventure.jpg?w=1200&h=-1&s=1" alt="">

</body>
</html>